<!doctype HTML>
{% load static %}
<html>
    <head>
        {% include "helper/header.html" %}
        <title>Calculators</title>
    </head>
    <body class="theme-green">
        {% include "helper/headermenu.html" %}
        <section class="content">
            <div class="container-fluid">
                <div class="block-header">
                    <h1>Home Page</h1>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <p>This is the Home Page</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

